
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    overflow-y: hidden !important;
    position: relative;
    height: unset !important;
    scroll-behavior: smooth;

}
html, body {
	overflow-x: hidden;
	margin: 0;
}

h1, h2, h3,p {
    font-family: 'Montserrat', sans-serif;
    /* Add additional styling for headings if needed */
}
.overlayhome{
  position: fixed !important;
  top: 0 !important;
  z-index: 100 !important; 
  }
.bgswiper{
  background-image: url('/assets/images/swiperbackgr.png');
  transform: translatex(-60px);
  -webkit-transform: translate(-60px);
  -moz-transform: translate(-60px);
  -ms-transform: translate(-60px);
  -o-transform: translate(-60px);
}
.panel{
    padding: 0px !important;
    
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}
.swipersec{
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.gendiv{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    clip-path: polygon(50% 0, 58% 12%, 100% 12%, 100% 100%, 0 100%, 0 0);
}

@media screen and (max-width: 768px) {
  .gendiv {
    clip-path: polygon(65% 0, 79% 7%, 100% 7%, 100% 100%, 0 100%, 0 0);

  }
}
.textdiv{
    opacity: 0;
}
.nevdots{
  opacity: 0;
}
.roundpic{
    position: absolute; 
    width: 100%; height: 100%;

}
.roundvideo{
    border-radius: 1px;

}
.main_div {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
   
    gap: 10px;
    transition: transform 1s ease;
    /* Additional styles for the main container if needed */
}
.main_divfooter {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;
  transition: transform 1s ease;
  /* Additional styles for the main container if needed */
}
.main_divlast {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;
  transition: transform 1s ease;
  -webkit-transition: transform 1s ease;
  -moz-transition: transform 1s ease;
  -ms-transition: transform 1s ease;
  -o-transition: transform 1s ease;
}
@media screen and (max-width: 768px) {
  .main_divlast {
    height: auto;  
  }
}
.c1, .img1 {
  transform: translateY(-200px);
  -webkit-transform: translateY(-200px);
  -moz-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  -o-transform: translateY(-200px);
}
@media screen and (max-width: 768px) {
  .img1 {
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
}
}
.t1, .bgsw1{
  opacity: 0;
}
 .e2 {
  transform: translateY(100px);
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);

}
.e1 {
  transform: translateY(100px);
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
rotate: -90deg;
}
.main_div2 {
    border-radius: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
   
    gap: 10px;
    /* Additional styles for the main container if needed */
}
.p2{
    width: 100%;
    height: 100vh;

}


.divpading{
  padding-top: 40%
}

@media screen and (max-width: 768px) {
  .divpading {
    padding-top: 1%
  }
}

@media screen and (min-width: 1300px) and (max-width:1600px) {
  .divpading {
    padding-top: 35%;
}
}
.herosec {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 62%;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .herosec {
      width: 90%;
      gap: 20px;

  }
}

.loginbtnw{
  width: 15%;
}

@media screen and (max-width: 768px) {
  .loginbtnw {
      width: 30%;
  }
}

.logo{
    width: 200px;
}
@media screen and (max-width: 768px) {
  .logo{
    width: 180px;
    padding-bottom: 10px;
}
}
.main_heading{
    color: #F1F1F1;
text-align: center;
font-size: 64px;
font-family: Montserrat;

font-style: normal;
font-weight: 400;
line-height: 68px;
text-transform: uppercase;
}

@media screen and (max-width: 450px) {
  .main_heading {
    font-size: 46px;
    line-height: 40px;

  }
}



.video-container {
   
    position: relative;
}

.video-container video {
  width: 100%;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .caption {
  z-index: 1;
  position: relative;
  text-align: center;
  color: #dc0000;
  padding: 10px;
  
}
.content {
    height: 100%;
    align-items: end;
    width: 100%;
    display: flex
}
.arrow {
    color: #0c5449;
    margin: 1em 0;
    color: #F1F1F1;
    background-color: #085DFF;
    margin: 1em 0;
    border-radius: 20px;
    border-radius: 30px;
    padding: 10px;
    font-family: Montserrat;

    &::after {
        display: inline-block;
        padding-left: 8px;
        content: "\0279E"; 
        -webkit-transition: transform 0.3s ease-out;
        -moz-transition: transform 0.3s ease-out;
        -ms-transition: transform 0.3s ease-out;
        -o-transition: transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
    }

    &:hover {
        color: #F1F1F1;
        background-color: #085DFF;


        &::after {
            -webkit-transform: translateX(4px);
            -moz-transform: translateX(4px);
            -ms-transform: translateX(4px);
            -o-transform: translateX(4px);
            transform: translateX(4px);
        }
    }
}


.swipersecw{
  width: 100%;
  overflow: hidden;
}

.header{
    background: transparent;
    position: fixed;
    z-index: 1000;
    font-family: Montserrat;
    
    margin: auto;
    opacity: 0; /* Initially set opacity to 0 */
}
@media screen and (max-width: 768px) {
  .header {
    padding: 0px;
    padding-right: 10px;
  }
}
.hmrgin{
  margin-right: 15%;
}
@media screen and (max-width: 1600px) {
  .hmrgin {
    margin-right: 9%;
  }
}
@media screen and (max-width: 1350px) {
  .hmrgin {
    margin-right: 6%;
  }
}
@media screen and (max-width: 768px) {
  .hmrgin {
    margin-right: 0%;
  }
}
.menubtn{
    color: #F1F1F1;
    background-color: transparent;
    border-radius: 20px;
    border-radius: 30px;
    padding: 10px;
    border: 2px solid white;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
    &:hover 
{
        color: black !important;
        background-color: white;

    }
}
.menubtnf{
  margin: 1em 0;
  color: #F1F1F1;
  background-color: transparent;
  margin: 1em 0;
  border-radius: 20px;
  border-radius: 30px;
  padding: 10px;
  border: 2px solid white;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  font-family: Montserrat;

  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
      color: black !important;
      background-color: white;

  }
}
@media screen and (max-width: 768px) {
  .menubtnf {
    font-size: 16px;

}
}
@media screen and (max-width: 768px) {
  .menubtn {
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0px;
    font-size: 32px;

}
}
.menubg{
  background-color: transparent;
}
@media screen and (max-width: 768px) {
  .menubg {
    background-color: #085DFF;
  }
}

.primary{
    color: #085DFF;
}
.bg-primary{
    color: #085DFF;
}

.langbtn{
    color: #F1F1F1;
    border-radius: 30px;
    border: none !important;
    padding: 10px;
    font-size: 16px;
    font-family: 'Almarai', sans-serif !important;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: #085DFF;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    
}
@media screen and (max-width: 768px) {
  .langbtn {
width: 90%;
background-color: white;
color: #0C0C0C;
margin-left: 20px;
  }
}
.flt_svg {
  visibility: hidden; 
  position: absolute;
  width: 0px;
  height: 0px;
}

.box_parent
{
  filter: url('#flt_tag');
}
.p2h{
    color: #F1F1F1;
font-size: 128px;
font-style: normal;
font-family: Montserrat;

font-weight: 400;
line-height: 120px; /* 93.75% */
text-transform: uppercase;
}
@media screen and (max-width: 1023px) {
  .p2h {
    line-height: 48px;
    font-size: 48px;
  }
}
@media screen and (max-width: 1600px) and (min-width: 1024px) {
  .p2h {
 font-size: 100px;
  }
}
.p2span{
    color: #F1F1F1;
font-size: 16px;
font-family: Montserrat;
width: 100%;
font-style: normal;
font-weight: 400;
line-height: normal;
}
@media screen and (max-width: 768px) {
  .p2span {
    font-size: 14px;
  }
}
@media screen  and (min-width: 1800px) {
  .p2span {
    width: 90%;
  }
}
.swiperoverflow{
  overflow-x: visible !important;
}

@media screen and (max-width: 768px) {
  .swiperoverflow {
    overflow-x: hidden !important;
  }
}
.card{
    border-radius: 40px;
    background: #C055F2;
    color: white;
    width: 80%;
    opacity: 0;
    font-family: Montserrat;

    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.cardntext{
  padding-left: 3rem;
  padding-bottom: 1.5rem;
}

@media screen and (max-width: 768px) {
  .cardntext {
    padding-left: 0rem;
    padding-bottom: 0rem;
    margin-top: 1%;
  }
}

.hidden{
  display: none;
}
.disflex{
  display: flex;
}
@media screen and (max-width: 500px) {
  .card {
      width: 99%;
      position: relative;
      top:4%;
  }
}
@media screen and (min-width: 1300px) {
  .card {
    width: 73%;
}
}

@media screen and (min-width: 1600px) {
  .card {
    width: 65%;
}
}


.dynamicdisplay{
  display: block;
}

@media screen and (max-width: 768px) {
  .dynamicdisplay {
    display: none;
  }
}

.dynamicdisplay2{
  display: none;
}

@media screen and (max-width: 768px) {
  .dynamicdisplay2{
    display: block;
  }
}
.cardheading{
    color: #F1F1F1;
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
}
.p3h{
    color: #1E1E1E;
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .p3h {
    font-size: 160%;
  }
}
@media screen and (max-width: 320px) {
  .p3h {
    font-size: 25px;
  }
}
.btndown{
  width: 43%;
}
@media screen and (max-width: 768px) {
  .btndown {
width: 65%;
  }
}
@media screen and (max-width: 340px) {
  .btndown {
width: 70%;
  }
}
.downwrapper{
  width: 100%;align-items: start;display: flex;justify-content: left; padding-top: 40px;
}
@media screen and (max-width: 768px) {
  .downwrapper {
    padding-top: 1px;
  }
}
.p3span{
    color: #1E1E1E;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.container2{
    width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      position: relative;
}


.box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
  }

  #div1 {
    z-index: 2;
  }

  #div2 {
    z-index: 1;
    position: relative;
  }

  #div3, #div4 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

  .container1 {
	width: 200% !important;
	height:100vh;
	flex-wrap: nowrap;
 align-items: center;
 display: flex;
 justify-content: center;
}

.slide3h{
    color: #F1F1F1;
    font-family: Montserrat;
    font-size: 600%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
/* @media screen and (max-width: 1024px) {
  .slide3h {
    font-size: 60px;
  }
}
@media screen and (max-width: 1324px) {
  .slide3h {
    font-size: 80px;
  }
} */
@media screen and (max-width: 768px) {
  .slide3h {
    font-size: 44px;
  }
}
.slide3f1{
    color: #F1F1F1;
font-family: Montserrat;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
@media screen and (max-width: 768px) {
  .slide3f1 {
    font-size: 24px;
  }
}
.slide3f2{
    color: #F1F1F1;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.swipertitle{
    color: #0C0C0C;
font-family: Montserrat;
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .swipertitle {
    font-size: 22px;
  }
}
.swiperpara{
    color: #0C0C0C;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.navpad{
  padding-left: 4%;
  padding-right: 4%;
}
    .navbar {
  background: #fff;
  padding-left: 4%;
  padding-right: 4%;
}
@media screen and (max-width: 768px) {
  .navbar {
    padding-left: 0%;
    padding-right: 0%;
  }}
.navbar .navbar-nav .nav-link {
  color: #ffffff;
}
.btn-outline-dark {
  border-radius: 0;
}
.btn-outline-dark:focus {
  box-shadow: none;
}
@media screen and (max-width: 768px) {
  .btn-outline-dark {
    border: none;
    padding: 0;
    outline: none;
  }

  .btn-outline-dark:hover {
    background: none;
    color: gray;
  }
}
.navbar-toggler {
	float: right;
	border: none;
	padding:0px !important;
  font-size: 0px !important
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none !important;
  box-shadow: none !important;
}
.bg-transparent .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #fff4f4;
    transition: all 300ms linear;
}
.bg-transparent .navbar-toggler-icon:after, 
.bg-transparent .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color:#ffffff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.nav-item{
  max-height: 90px;
}
.bg-transparent .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}



.swiper3 .swiperbtnprev{
  left: 88.5%;
  top:1%;
}
.swiper3 .swiperbtnnext{
  top: 1%; left: 92.5% ;
}
@media screen and (max-width: 768px) {
  .swiper3 .swiperbtnprev{
    left: 67%;
    top:5%;
  }
}
@media screen and (max-width: 768px) {
  .swiper3 .swiperbtnnext{
     top:5%;
      left: 80% !important;
  }
}
.swiper2 .swiper2btnnext{
  left: 61%;
  top: 80%;
   
}
@media screen and (max-width: 768px) {
  .swiper2 .swiper2btnnext{
    left: 52%;
    top: 89.5% !important;
  }
}
.swiper2 .swiper2btnprev{
  left: 57%; 
  top: 80% !important;
}
@media screen and (max-width: 768px) {
  .swiper2 .swiper2btnprev{
    left: 36% !important;
    top: 89.5% !important;
  }
}

  .img2 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 34%;
    left: 93%;
    object-fit: cover;
  }
  
  @media screen and (max-width: 768px) {
    .img2 {
      width: 30px;
      height: 30px;
      top: 19%;
      left: 82%;

    }
  }
  .asset-3 {
    position: absolute;
    width: 8%;
    top: 38%;
    left: 74%;
    object-fit: cover;
    rotate: -90deg;
  }
  @media screen and (max-width: 768px) {
    .asset-3 {
      width: 30%;
      top: 32%;
      left:81%;
    }
  }
  

.socialicon:hover {
    background: white;
}
  @media screen and (max-width: 768px) {
    .overlap-group-wrapper {
      position: relative;
      left: 2%;
    }
  }
  .asset-2 {
    position: absolute;
    width: 10%;
    top: 5%;
    left: 70%;
    object-fit: cover;
  }
  @media screen and (max-width: 768px) {
    .asset-2 {
      width: 25%;
      top:-3%;
      left:56%;

    }
  }
  .smile-circle-svgrepo {
    position: absolute;
    width: 64px;
    height: 65px;
    top: 15px;
    left: 33%;
    transform: rotate(-9.14deg);
    
}
@media screen and (max-width: 768px) {
  .smile-circle-svgrepo {
    left: 37%;

       }
}
  .ellipse-2 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 11px;
    left: 31%;
    background-color: #f0f0f0;
    border-radius: 45px;
  }
    @media screen and (max-width: 768px) {
      .ellipse-2 {
        left: 35%;
           }
    }
  .rectangle-3 {
    position: absolute;
    width: 81%;
    height: 88%;
    top: 0;
    left: 0;
    background-color: #bf55f2;
    border-radius: 40px;
  }
  @media screen and (max-width: 768px) {
    .rectangle-3 {
      width: 95%;
    }
  }
  .overlap-group-wrapper {
    top: 65%;
    left: 77%;
    position: absolute;
    
}
@media screen and (max-width: 768px) {
  .overlap-group-wrapper {
    position: relative;
    left: 2%;
  }
}
@media screen and (max-width: 1600px) {
  .overlap-group-wrapper {
    top: 60%;
  }
}
  .avatarsdk-band {
    width: 95%;
      }

  @media screen and (max-width: 768px) {
    .avatarsdk-band  {
      width: 178%; 
      left:4%;
      position: relative;
 
    }
  }
  .div-3 {
    position: relative;
    width: 70%;  
    margin-top:   1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  @media screen and (max-width: 768px) {
    .div-3 {
      width: 90%;  
    }
  }
  .p {
    font-family: Montserrat;
    font-weight: 400;
    color: #1e1e1e;
    font-size: 16px;
    line-height: 20px;
  }
  .picpading{
    padding-top: 30%;
    position: absolute;
    width: 120%;
    left: 1%; 
  }
  
  @media screen and (min-width: 1100px) {
    .picpading {
      padding-top: 18%;
  }
  }
  @media screen and (max-width: 768px) {
    .picpading {
position: relative;
padding-top: 15%;
width: 120%;
left: -7%;
    }
  }

 
  .we-work-hard-play {
    position: relative;
    margin-top: -1px;
    font-family: Montserrat;
    font-weight: 500;
    color: #1e1e1e;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    width: 80%;
  }
  @media screen and (max-width: 768px) {
    .we-work-hard-play {
      width: 100%;
    }
  }
  .group {
    top: 46%;
    left: 5%;
    transform: rotate(0deg);
    position: absolute;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}
@media screen and (max-width: 768px) {
  .group {
    left: 2%;

    position: relative;
    padding-top: 15%;
  }
}
  
  .overlap-group-2 {
    position: relative;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
  .text-wrapper {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: Montserrat;
    font-weight: 500;
    color: #1e1e1e;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  .div-2 {
    width: 45%;
    top: 31%;
    left: 1%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media screen and (max-width: 768px) {
    .div-2 {
      width: 93%;
      left: 0%;
      padding: 15px;
        top: 27%;
         }
  }
  .div-2c {
    width: 74%;
    top: 30%;
    left: 4%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    
  }
  @media screen and (max-width: 768px) {
    .div-2c {
      width: 88%;
      top: 28%;

         }
  }

  .rectangle-2 {
    position: absolute;
    width: 45%;
    height: 67%;
    top: 63px;
    left: 8px;
    background-color: #f0f0f0;
    border-radius: 34px;
  }
  @media screen and (max-width: 768px) {
    .rectangle-2 {
      width: 90%;
      height: 61%;
         }
  }

  
  .rectangle-2c {
    position: absolute;
    width: 78%;
    height: 67%;
    top: 63px;
    left: 6px;
    background-color: #f0f0f0;
    border-radius: 34px;
  }
  @media screen and (max-width: 768px) {
    .rectangle-2c {
      width: 90%;
         }
  }
  .rectangle {
    position: absolute;
    width: 47%;
    height: 87%;
    top: 0;
    left: 0;
    background-color: #6e55f2;
    border-radius: 40px;
  }
  @media screen and (max-width: 768px) {
    .rectangle {
      width: 96%;
      height: 83%;
         }
  }
  .vector {
    position: absolute;
    width: 55px;
    height:  57px;
    top: 20px;
    left: 20.5%;
    transform: rotate(5.72deg);
  }
  @media screen and (max-width: 768px) {
    .vector {
      left: 38%;

         }
  }
  .ellipse {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 11px;
    left: 19%;
    background-color: #f0f0f0;
    border-radius: 45px;
  }
  @media screen and (max-width: 768px) {
    .ellipse {
      left: 34%;

         }
  }
  .asset-x {
    position: absolute;
    width: 8%;
    top: 38%;
    left: 3%;
    object-fit: cover;
  }
  .asset-x1 {
    position: absolute;
    width: 5%;
    top: 95%;
    left: 15%;
    object-fit: cover;
  }
  @media screen and (max-width: 768px) {
    .asset-x{
      width: 20%;
      top: 34%;
      left:-26%;

    }
  }
  @media screen and (max-width: 768px) {
    .asset-x1{
      width: 15%;
      top: 102%;
      left:12%;

    }
  }

  .overlap-group-2 {
    position: relative;
    height: 339px;
    border-radius: 40px;
  }
  .lastsec{
    width: 100% !important;
    height: 100% !important;
    background-image: url('/assets/images/bg2.png');
    background-color: blanchedalmond;
  }
  .slideheding{
    color: #F1F1F1;
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
z-index: 1;
  }

  .slidetext{
    color: #F1F1F1;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
z-index: 1;
width: 75%;
  }
  @media screen and (max-width: 500px) {
    .slidetext{
      width: 98%;
    }
  }

  .swiper2 .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 15px !important;
      font-weight: 900  ;

}
.swiper3 .swiper-button-next:after, .swiper-button-prev:after {
  font-size: 15px !important;
  font-weight: 900  ;
 
  
}
.btnclass{
  background-color: #c2c2c2;
  opacity: 0.8;
  &:hover{
    background-color: white;
    opacity: 1;

  }
}
.btnclass2{
  background-color: #F1F1F1;
  &:hover{
    background-color: white;
  }
}
.txtfs{
  color: #F1F1F1;
text-align: center;
font-family: Montserrat;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.emailtxt{
  color: #F1F1F1;
  text-align: right;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.txtnl{
  
  color: #F1F1F1;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

}




.privacytxt{
  color: #1E1E1E;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
}


.copytxt{
  color: #1E1E1E;
text-align: right;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;

}


.divemail{
  width: 75%;
}
@media screen and (max-width: 500px) {
  .divemail {
    width: 100%;
       }
}



/* .swiper2 .swiper-slide.swiper-slide-active {
  width: 55% !important;
}  */
@media screen and (max-width: 500px) {
  .swiper2 .swiper-slide.swiper-slide-active {
    width: 100% !important;
  } 
}

/* Apply a black overlay to the next and previous slides
.swiper2 .swiper-slide + .swiper-slide::after,
.swiper2 .swiper-slide ~ .swiper-slide::after {
  content: "";
  position: absolute;    
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.5);
 
} */

/* Ensure that the active slide is not affected */
.swiper2 .swiper-slide.swiper-slide-active,
.swiper2 .swiper-slide.swiper-slide-active::after {
  filter: none;
  background-color: transparent;
}
/* .swiper2 .swiper-wrapper {
  display: flex;
  margin-left: -10%;
}

@media screen and (max-width: 500px) {
  .swiper2 .swiper-wrapper {
    margin-left: 0%;
  }
} */

.tpcwh{
    height: 80px; width: 90%;
  
  }
  
  @media screen and (max-width: 500px) {
    .tpcwh {
      height: 120px ;width: 90%;
  
    }
  }


 